<template>
	<div id="app" class="mt-0">
		<nav class="navbar navbar-dark navbar-expand-lg bg-primary dark p-0">
			<a class="ml-4 navbar-brand ev-home-link" @click="$router.push('/')" href="#">
				<img src="/static/images/busComfort-brand-white.png" height="50" alt />
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavDropdown">
				<div class="navbar-nav" style="height: 60px;">
					<div class="nav-item active d-flex align-items-center">
						<a class="ev-home-link nav-link" @click="$router.push('/')" href="#">Início</a>
					</div>
					<div class="nav-item d-flex align-items-center">
						<a class="ev-config-link nav-link" @click="$router.push('/config')" href="#config">Configurações</a>
					</div>
					<div class="nav-item d-flex align-items-center mr-4" style="position: absolute; right: 0; height: 60px;">
						<a class="ev-about-link nav-link" @click="$router.push('/sobre')" href="#sobre">Sobre</a>
					</div>
				</div>
			</div>
		</nav>
		<router-view />
	</div>
</template>

<script>
export default {
	name: "App",
	mounted: function () {
		
		$(".nav-link").on("click", function(){
			$(".navbar").find(".active").removeClass("active");
			$(this).parent().addClass("active");
		});
	}
};
</script>

<style>
#app {
	font-family: "Avenir", Helvetica, Arial, sans-serif;
}
a {
	outline: none;
}
</style>
