<template>
	<div class="container text-center" id="about-view">
		<br><br>
		<img width="520" src="/static/images/busComfort-logo.png">
		<br><br><br>
		<p class="px-4 mx-4"> O <b><i>busComfort</i></b> é um sistema embarcado para monitoramento do conforto dos ônibus do transporte público, desenvolvido para a competição de sistemas embarcados realizada no <i>IX Brazilian Symposium on Computing Systems Engineering</i>.
			O propósito desse projeto é desenvolver um sistema que monitore o conforto do usuário de ônibus, permitindo supervisionar o veículo durante todo o percurso e que permita identificar quando o motorista ou as condições das ruas/avenidas possam causar algum acidente ou desconforto para o passageiro. 
		</p>
	</div>
</template>

<script>
export default {
	name: 'About',
	data () {
		return {}
	}
}
</script>