*, *::before, *::after{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	background-color: darkgrey;
	color: #777;
}

.grid{
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 1fr;
}

.small-main {
	color: #2F2E3A;
	font-size: 14px;
}

.link{
	color: #2F2E3A;
	font-size: 14px;
	cursor: pointer;
	text-decoration: underline !important;
}

.link:hover{
	color: #2F2E3A;
}

.text-danger2{
	color: #a21313;
}

.sensor-box{
	border-right: 1px solid #E4E4E4;
}

.level-1{
	color: #8E0E18;
}

.level-2{
	color: #B54C04;
}

.level-3{
	color: #B79229;
}

.level-4{
	color: #7D932E;
}

.level-5{
	color: #3E8717;
}

.nav-item.active{
	border-bottom: 3px solid #F95621;
}

.left{
	position: relative;
	margin: 10px;
	padding: 10px;
	background-color: #fff;
}

.right{
	margin: 10px;
	background-color: #fff;
}
.details-table{
	padding: 10px 20px;
}

.details-table table{
	font-size: 12px;
	width: 100%;
}

div#map-id{
	height: 580px;
	z-index: 1;
}

.loading{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.5);
	opacity: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 999;
	color: aliceblue;
	transition: opacity 500ms ease-in 500ms;
}

.loading h2{
animation: blink 1.2s linear infinite;
}

.circle-red{
display: inline-block;
width: 10px;
height: 10px;
border-radius: 50%;
background-color: red;
}

.circle-green{
display: inline-block;
width: 10px;
height: 10px;
border-radius: 50%;
background-color: green;
}

.bg-primary.dark {
	background-color: #2f2e3a !important;
	color: white !important;
}

.bg-primary.dark a {
	color: white !important;
}

.bg-primary.dark a:hover {
	color: #f1f3f4 !important;
}

.bg-primary.colorful {
	background-color: #f95621 !important;
}

.fade-out{
opacity: 0;
transition: 1000ms ease-out;
}

.lds-dual-ring {
	display: inline-block;
	width: 64px;
	height: 64px;
}

.lds-dual-ring:after {
	content: " ";
	display: block;
	width: 46px;
	height: 46px;
	margin: 1px;
	border-radius: 50%;
	border: 5px solid #fff;
	border-color: #fff transparent #fff transparent;
	animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes blink {
	0%{
		opacity: 1;
	}
	50%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

@keyframes lds-dual-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@media all and (max-width: 400px)
{
	.grid{
		grid-template-columns: 1fr;
	}
}

.icons {
	position: absolute;
	right: 24px;
}

.marker-map {
    background: url('../icons/marker-map-icon.svg');
    height: 20px;
    width: 20px;
    display: block;
}

.gps-direction {
    background: url('../icons/gps-direction-icon.svg');
    height: 20px;
    width: 20px;
    display: block;
}