<template>
	<div class="container pt-5">
		<div class="mb-5">
			<h4>{{'Ônibus '+ busHistory.codigo +' - ' + busHistory.descricao}}</h4>
			<p class="lead text-secondary">
				Histórico de dados coletados do ônibus
			</p>
		</div>
		<div class="row">
			<div id="map-route" class="map col-6"></div>
			<div class="col-2">
				<div class="card mb-3">
					<div class="ev-show-no-signal card-body text-danger2 text-center" v-if="!busHistory.status">
						<img src="/static/icons/no-signal-icon.svg" width="120" class="mb-2">
						<p class="card-text">
							Status: Offline
						</p>
					</div>
					<div class="ev-show-on-garage card-body text-secondary text-center" v-if="busHistory.status === -1">
						<img src="/static/icons/on-garage-icon.svg" width="120" class="mb-2">
						<p class="card-text">
							Status: Na garagem
						</p>
					</div>
					<div class="ev-show-on-garage card-body text-success text-center" v-if="busHistory.status === 1">
						<img src="/static/icons/on-road-icon.svg" width="120" class="mb-2">
						<p class="card-text">
							Status: Em circulação
						</p>
					</div>
				</div>
				<div class="card">
					<div class="ev-show-no-signal card-body text-danger2 text-center">
						<div class="let-comfort-icon">
							<img :src="'/static/icons/comfort-lvl'+busHistory.comfortLevel+'.svg'" width="70" class="mb-2">
						</div>
						<p class="card-text">
							{{comfortDictionary[busHistory.comfortLevel]}}
						</p>
					</div>
				</div>
			</div>
			<div class="col-4" v-if="isReady">
				<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner">
						<div class="carousel-item active">
							<slide-indicators type="Umidade" :data="isReady ? umidades : {}" unity="%(rH)"/>
						</div>
						<div class="carousel-item">
							<slide-indicators type="Temperatura" :data="isReady ? temperaturas : {}" unity="°C"/>
						</div>
						<div class="carousel-item">
							<slide-indicators type="Ruído" :data="isReady ? ruidos : {}" unity="dB(A)"/>
						</div>
					</div>
					<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Anterior</span>
					</a>
					<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Próximo</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import SlideIndicators from './SlideIndicators';
import busService from '@/core/services/busService';
import routeService from '@/core/services/routeService';
import waypointService from '@/core/services/waypointService';
import readingService from '@/core/services/readingService';

export default {
	components: {
		'slide-indicators': SlideIndicators,
	},
	name: 'History',
	data() {
		return {
			map: null,
			planMap: null,
			busHistory: {
				status: 0,
				codigo: '',
				descricao: '',
				comfortLevel: 2,
				waypoints: [],
			},
			isReady: false,
			temperaturas: {},
			umidades: {},
			ruidos: {},
			comfortDictionary: {
				1: 'Muito desconfortável',
				2: 'Desconfortável',
				3: 'Pouco confortável',
				4: 'Confortável',
				5: 'Bem confortável',
			},
		}
	},
	created:  function () {
		this.getReadings();
	},
	mounted: function() {
		this.map = L.map('map-route');

		L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}{r}.png', {
			attribution: '© OpenStreetMap contributors'
		}).addTo(this.map);

		this.planMap = L.Routing.control({
			waypoints: [],
			routeWhileDragging: false
		}).addTo(this.map);

		this.getBus();
		// Remove layer control com especificação da rota
		$(".leaflet-top.leaflet-right").html('');
	},
	methods: {
		async getReadings () {
			let readings = await readingService.getReadingsbyBus({
				onibus_id: this.$route.params.id,
			});
			console.log(readings.data);
			let temperatura = {};
			let ruido = {};
			let umidade = {};
			this.temperaturas = {};
			this.ruidos = {};
			this.umidades = {};
			this.temperaturas.label = 'Layer 1';
			this.ruidos.label = 'Layer 1';
			this.umidades.label = 'Layer 1';
			this.temperaturas.values = [];
			this.ruidos.values = [];
			this.umidades.values = [];
			let aux = [];
			for( let i in readings.data) {
				this.temperaturas.values.push({
					x: parseInt(i),
					y: parseInt(readings.data[i].temperatura),
				});
				this.ruidos.values.push({
					x: parseInt(i),
					y: parseInt(readings.data[i].ruido),
				});
				this.umidades.values.push({
					x: parseInt(i),
					y: parseInt(readings.data[i].umidade),
				});
			}
			console.log(this.temperaturas.values);
			this.isReady = true;
		},
		async getBus () {
			let bus = await busService.getBus({
				id: this.$route.params.id,
			});
			let route = await routeService.getByOnibusRoute({
				onibus_id: bus.data._id
			});
			let waypoints = await waypointService.getByRouteWaypoint({
				rota_id: route.data._id
			});
			this.busHistory.codigo = bus.data.codigo;
			this.busHistory.descricao = route.data.descricao;
			for( let i in waypoints.data) {
				this.busHistory.waypoints.push(waypoints.data[i].latLng);
			}
			this.planMap.setWaypoints(this.busHistory.waypoints);
		}
	}
}
</script>