<template>
	<div class="card">
		<div class="card-body">
			<p class="small mb-0">
				<b>{{type.toUpperCase()}}</b>
			</p>
			<p class="small">
				{{'Indíce ' + unity}}
			</p>
			<p class="small">
				Máxima e mínima
			</p>
			<div class="row mt-1 mb-4">
				<div class="d-flex align-items-center col-6">
					<img src="/static/icons/up-arrow-icon.svg" height="50" class="mr-2">
					<p class="h4 mb-0 text-danger">
						{{'77 '+unity}}
					</p>
				</div>
				<div class="d-flex align-items-center col-6 text-info">
					<img src="/static/icons/down-arrow-icon.svg" height="50" class="mr-2">
					<p class="h4 mb-0">
						{{'20 '+unity}}
					</p>
				</div>
			</div>
			<p class="small">
				{{'Gráfico ('+type+' x Período)'}}
			</p>
			<div :id="'area'+type" class="epoch category10" style="width: 300px; height: 160px;"></div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'SlideIndicators',
	props: {
		type: {
			type: String,
			default: '',
			required: true
		},
		data: {
			type: Object,
			default: {},
			required: true
		},
		unity: {
			type: String,
			default: '',
			required: true
		}
	},
	data () {
		return {}
	},
	mounted: function () {
		this.renderGraph();
	},
	methods: {
		renderGraph() {
			let data = [
				{ label: 'Layer 1', values: [ {x: 0, y: 0}, {x: 1, y: 1}, {x: 2, y: 2} ] }
			];
			data = [];
			data.push(this.data);	
			console.log(this.data);
			console.log(data);		

			let areaChartInstance = $('#area'+this.type).epoch({
				type: 'line',
				data: data,
			});
		}
	}
}
</script>