<template>
	<div class="container pt-5">
		<div class="mb-5">
			<h4>Configurações</h4>
			<p class="lead text-secondary">
				Cadastrar ônibus no sistema
			</p>
		</div>
		<div class="row">
			<div class="col-6">
				<form>
					<div class="form-row">
						<div class="form-group col-md-6">
							<label>Código</label>
							<input type="text"  class="form-control" v-model="codigo" placeholder="Insira o código do ônibus">
						</div>
						<div class="form-group col-md-6">
							<label>ID</label>
							<input type="text"  class="form-control" v-model="idModulo" placeholder="Insira o id do módulo">
						</div>
					</div>
					<div class="form-group">
						<label>Descrição da Rota</label>
						<input type="text" class="form-control" v-model="descricao" placeholder="Insira a descrição da rota">
					</div>
					<div class="form-group">
						<label>Especificação da Rota</label>
						<input type="text" class="form-control" v-model="especificacao" placeholder="Insira a especificação da rota">
					</div>
					<button class="btn btn-primary" @click="addBus">Salvar</button>
				</form>
			</div>
			<div id="set-map-route" class="map col-6"></div>
		</div>
	</div>
</template>

<script>
import busService from '@/core/services/busService';

export default {
	name: 'AddBusPage',
	data () {
		return {
			planMap: null,
			codigo: '',
			descricao: '',
			especificacao: '',
			motorista: '',
			idModulo: '',
			waypoints: [],
		}
	},
	mounted: function() {
		this.map = L.map('set-map-route').setView([0, 0], 2);


		L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}{r}.png', {
			attribution: '© OpenStreetMap contributors'
		}).addTo(this.map);

		this.waypoints = [
			L.latLng(-9.412264, -40.515693),
			L.latLng(-9.390928, -40.497714)
		];

		this.planMap = L.Routing.control({
			plan: L.Routing.plan(this.waypoints, {
				createMarker: function(i, wp) {
					return L.marker(wp.latLng, {
						draggable: true,
						icon: L.icon({
							iconUrl: "/static/images/waypoint-marker.png",
							iconSize: [30, 30],
							iconAnchor: [15, 30]
						})
					});
				},
				geocoder: L.Control.Geocoder.nominatim(),
				routeWhileDragging: true,
				addWaypoints: true,
			}),
			routeWhileDragging: false,
			showAlternatives: true,
		}).addTo(this.map);

		/*
		this.map.on('click', function(e) {
			var container = L.DomUtil.create('div'),
				startBtn = L.DomUtil.create('button', '', container),
				destBtn = L.DomUtil.create('button', '', container);

			startBtn.setAttribute('type', 'button');
			startBtn.innerHTML = 'Definir origem';
			destBtn.setAttribute('type', 'button');
			destBtn.innerHTML = 'Definir origem';

			L.popup()
				.setContent(container)
				.setLatLng(e.latlng)
				.openOn(this.map);
		
			L.DomEvent.on(startBtn, 'click', function() {
				control.spliceWaypoints(0, 1, e.latlng);
				map1.closePopup();
			});

			L.DomEvent.on(destBtn, 'click', function() {
				control.spliceWaypoints(control.getWaypoints().length - 1, 1, e.latlng);
				map1.closePopup();
			});
		});
		*/

	},
	methods: {
		async addBus () {
			this.waypoints = this.planMap.getWaypoints();
			let arr = [];
			let waypoints = [];
			for (let i in this.waypoints) {
				arr = [this.waypoints[i].latLng.lat, this.waypoints[i].latLng.lng];
				waypoints.push({'latLng':arr});
			}
			await busService.addBus({
				codigo: this.codigo,
				idModulo: this.idModulo,
				descricao: this.descricao,
				especificacao: this.especificacao,
				waypoints: waypoints,
			})
			console.log('Add bus!');
			this.$router.push({ name: 'Settings' });
		}
	}
}
</script>

<style scoped>
</style>
