<template>
	<div class="container pt-5">
		<div class="row justify-content-between">
			<div class="col-9 mb-5">
				<h4>Configurações</h4>
				<p class="lead text-secondary">
					Lista de ônibus cadastrados no sistema
				</p>
			</div>
			<div class="col-3">
				<button type="button" class="btn bg-primary dark px-5" @click="$router.push('/config/adicionar-onibus')">Adicionar ônibus</button>
			</div>
		</div>
		<div v-if="buses.length === 0">
			<div class="alert alert-secondary" role="alert">
				Nenhum ônibus cadastrado no sistema
			</div>
		</div>
		<div v-else>
			<table class="table">
				<thead>
					<tr>
					<th scope="col">Cód.</th>
					<th scope="col">Rota</th>
					<!-- <th scope="col">Motorista</th> -->
					<th scope="col">Rede</th>
					<th scope="col">Ações</th>
					</tr>
				</thead>
				<tbody>
					<tr
						v-for="(bus, key) in buses"
						:key="key"
					>
						<th scope="row">{{bus.codigo}}</th>
						<td>
							<p class="mb-0">{{bus.descricao}}</p>
							<p class="small text-secondary">{{bus.especificacao}}</p>
						</td>
						<td>
							<p class="small mb-0">{{'NET ID:'+ bus.idModulo}}</p>
						</td>
						<td>
							<a class="link small" @click="$router.push({name: 'EditBusPage', params: {id: bus._id }})">EDITAR</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</template>

<script>
import busService from '@/core/services/busService';
import routeService from '@/core/services/routeService';

export default {
	name: 'Settings',
	data () {
		return {
			buses: [],
		}
	},
	beforeMount () {
		this.getBuses();
	},
	mounted () {
		console.log(this.buses)
	},
	methods: {
		async getBuses () {
			const response = await busService.fetchBuses();
			for (let i in response.data) {
				let route = await routeService.getByOnibusRoute({onibus_id: response.data[i]._id});
				response.data[i].descricao = route.data.descricao;
				response.data[i].especificacao = route.data.especificacao;
				//console.log(response.data[i])
			}
			this.buses = response.data;
			return this.buses
		},
	}
}
</script>

<style scoped>
a {
	color: #f95621;
}
</style>