<template>
    <div class="ev-marker-info details-table" id="selected-node" style="display: none;">
				<div class="card border-secondary mt-2" style="width: 390px;">
					<div class="card-header bg-dark text-white">
						<h6 class="let-bus-code mb-0">{{'Ônibus "' + selectedNode.code + '"'}}</h6>
						<p class="let-bus-desc mb-0 small">{{selectedNode.desc}}</p>
						<p class="let-bus-spec mb-0 small">{{selectedNode.spec !== undefined ? ('('+selectedNode.spec+')') : ''}}</p>
					</div>
					<div class="ev-show-no-signal card-body text-danger2 text-center" v-if="!selectedNode.status">
						<img src="/static/icons/no-signal-icon.svg" width="120" class="my-4">
						<p class="card-text">
							Não foi possível realizar comunicação com este ônibus. O módulo está offline.
						</p>
					</div>
					<div class="ev-show-on-garage card-body text-secondary text-center" v-if="selectedNode.status === -1">
						<img src="/static/icons/on-garage-icon.svg" width="120" class="my-4">
						<p class="card-text">
							Este ônibus se encontra na garagem, não está em operação no momento.
						</p>
					</div>
					<div class="ev-show-details card-body" v-if="selectedNode.status === 1">
							<div class="row d-flex justify-content-center align-items-center mb-4 px-5">
								<div class="let-comfort-icon">
                                    <img :src="'/static/icons/comfort-lvl'+selectedNode.comfortLevel+'.svg'" width="70">
								</div>
								<div class="pl-2" style="max-width: 200px;">
									<p class="let-comfort-level small text-secondary mb-0">
										{{'NÍVEL '+selectedNode.comfortLevel}}
									</p>
									<p :class="'let-comfort-desc mb-0 level-'+selectedNode.comfortLevel">
										<strong>{{comfortDictionary[selectedNode.comfortLevel]}}</strong>
									</p>
									<p class="let-comfort-details small mb-0">
										{{comfortDetailsText}}
									</p>
								</div>
							</div>
							<div class="">
								<i class="icons marker-map"></i>
								<p class="h6 text-secondary mb-3">
									Localização
								</p>
								<p class="small-main mb-0">
									<strong class="let-fancy-location"> {{selectedNode.fancyLocation}}</strong>
								</p>
								<p class="let-city-location small mb-0">
									{{selectedNode.cityLocation}}
								</p>
								<p class="let-dms-location small text-secondary mb-0">
									{{selectedNode.latLng}}
								</p>
							</div>
							<hr>
							<div class="" hidden>
								<i class="icons gps-direction"></i>
								<p class="h6 text-secondary mb-3">
									Movimento
								</p>
								<p class="small-main mb-0">
									<strong class="let-direction-desc"> {{selectedNode.directionDesc}} </strong>
								</p>
								<p class="let-position-desc small mb-0">
									{{selectedNode.positionDesc}}
								</p>
								<p class="let-next-bus-stop small text-secondary mb-0">
									{{selectedNode.nextBusStop}}
								</p>
							</div>
							<hr hidden>
							<div class="">
								<p class="h6 text-secondary mb-3">
									Ambiente
								</p>
								<div class="row align-items-center">
									<div class="border-right col text-center">
										<img height="40" src="/static/icons/temperature-sensor-icon.svg">
										<p class="small-main mb-0"> <strong class="let-temperature-measure">{{selectedNode.temperature +' °C'}}</strong></p>
									</div>
									<div class="col border-right text-center">
										<img height="40" src="/static/icons/moisture-icon.svg">
										<p class="small-main mb-0"> <strong class="let-moisture-measure">{{selectedNode.moisture +' %rH'}}</strong></p>
									</div>
									<div class="col border-right text-center">
										<img height="40" src="/static/icons/noise-sensor-icon.svg">
										<p class="small-main mb-0"> <strong class="let-noise-measure">{{selectedNode.noise +' dB'}}</strong></p>
									</div>
									<div class="col text-center">
										<img height="40" src="/static/icons/vibration-meter-icon.svg">
										<p class="small-main mb-0"> <strong class="let-jerk-measure">{{selectedNode.jerk+' m/s³'}}</strong></p>
									</div>
								</div>
							</div>
						</div>
						<div class="my-4 text-center">
							<a class="link" @click="$router.push({name: 'History', params: {id: selectedNode.id }})">
								VER HISTÓRICO DE DADOS DESTE ÔNIBUS
							</a>
						</div>
				</div>
			</div>
</template>

<script>
export default {
     name: 'CardDetails',
     props: {
        selectedNode:{
            type: Object,
            required: true
        },
     },
     data() {
         return {
            comfortDictionary: {
                1: 'Muito desconfortável',
                2: 'Desconfortável',
                3: 'Pouco confortável',
                4: 'Confortável',
                5: 'Bem confortável',
            },
            // Temperatura
            temperatureRef: {
                upperLimit: 30,
                lowerLimit: 20,
            },
            // Umidade
            humidityRef: {
                upperLimit: 70,
                lowerLimit: 40,
            },
            // Ruído
            noiseRef: {
                upperLimit: 50,
            },
            // Vibração
            jerkRef: {
                upperLimit: 0.6,
            },
         }
     },
     computed: {
         comfortDetailsText(){
            let comfortDetails = '';
            let upperLimit = [];
            let lowerLimit = [];
            if( this.selectedNode.temperature > this.temperatureRef.upperLimit )
                upperLimit.push('temperatura');
            if( this.selectedNode.temperature < this.temperatureRef.lowerLimit )
                lowerLimit.push('temperatura');
            if( this.selectedNode.moisture > this.humidityRef.upperLimit )
                upperLimit.push('umidade');
            if( this.selectedNode.moisture < this.humidityRef.lowerLimit )
                lowerLimit.push('umidade');
            if( this.selectedNode.noise > this.noiseRef.upperLimit )
                upperLimit.push('ruído');
            if( this.selectedNode.jerk > this.jerkRef.upperLimit )
                upperLimit.push('vibração');

            if (!upperLimit.length && !lowerLimit.length){
                comfortDetails += 'Ambiente com níveis dentro do padrão de conforto';
            } else {
                let upperString = '';
                for (let i = 0; i < upperLimit.length; i++) {
                    if( i == (upperLimit.length - 1) ) {
                        upperString += upperLimit[i]; 
                    } else {
                        if( i == (upperLimit.length - 2) )
                            upperString += upperLimit[i] + ' e '; 
                        else
                            upperString += upperLimit[i] + ', '; 
                    }
                }
                let lowerString = '';
                for (let i = 0; i < lowerLimit.length; i++) {
                    if( i == (lowerLimit.length - 1) ) {
                        lowerString += lowerLimit[i]; 
                    } else {
                        if( i == (lowerLimit.length - 2) )
                            lowerString += lowerLimit[i] + ' e '; 
                        else
                            lowerString += lowerLimit[i] + ', '; 
                    }
                }
                if(upperString !== '') {
                    comfortDetails += 'Níveis altos de ' + upperString;
                } 
                if(lowerString !== '') {	
                    if(upperString !== '') {
                        comfortDetails += ', e baixa ' + lowerString;
                    } else {
                        comfortDetails += 'Níveis baixos de ' + lowerString;
                    }
                }
            }
            return comfortDetails;
        },
     }
}
</script>

<style>

</style>