<template>
	<main id="home-view" class="grid">
		<section class="left">
			<div id="map-id"></div>
			<div class="loading" style="display: none;">
				<div class="lds-dual-ring"></div>
				<h2>Buscando Localização</h2>
			</div>
		</section>
		<section class="right">
			<card-details :selected-node="watchedNode" />
		</section>
	</main>
</template>

<script>
import CardDetails from "./CardDetails";

export default {
	components: {
		"card-details": CardDetails
	},
	name: "LiveMap",
	data() {
		return {
			mainMap: null,
			tileLayer: null,
			planMap: null,
			onGarageIcon: null,
			noSignalIcon: null,
			enabledIcon: null,

			//nós a serem renderizados como marcadores no mapa
			nodes: [
				{
					id: "5dd061459f818c4110290593",
					status: 1,
					code: "A",
					desc: "CAMPUS JUAZEIRO -> CAMPUS CCA",
					spec: "via Av. Antônio Magalhães",
					comfortLevel: 3,
					comfortDetails: "Nível de teperatura elevado",
					fancyLocation: "Av. Guararapes, 2114 - Centro",
					cityLocation: "Petrolina - PE, 56302-971",
					latLng: [-9.4, -40.5],
					directionDesc: "30.0 km em direção a leste",
					positionDesc:
						"Trecho entre a Catedral de Petrolina e a Auto Escola Petrolina",
					nextBusStop: "Próxima parada a 3 min",
					temperature: 32,
					moisture: 45,
					noise: 60,
					jerk: 1.6
				},
				{
					id: "2",
					code: "B",
					desc: "CAMPUS JUAZEIRO -> CAMPUS PETROLINA -> CAMPUS CCA",
					spec: "via Av. Sete de Setembro",
					comfortLevel: 4,
					comfortDetails: "Ambiente com níveis dentro do padrão",
					fancyLocation: "Av. Sampaio, 2114 - Centro",
					cityLocation: "Juazeiro - BA, 56302-971",
					latLng: [-9.412207, -40.514846],
					directionDesc: "30.0 km em direção a leste",
					positionDesc: "Trecho entre o G Barbosa e o terminal",
					nextBusStop: "Próxima parada a 4 min",
					temperature: 28,
					moisture: 20,
					noise: 40,
					jerk: 1.2,
					status: 1
				},
				{
					id: "3",
					code: "C",
					desc: "CAMPUS JUAZEIRO -> CAMPUS CCA",
					latLng: [-9.411982, -40.51307],
					status: -1
				},
				{
					id: "4",
					code: "D",
					desc: "CAMPUS JUAZEIRO -> CAMPUS CCA",
					latLng: [-9.4155, -40.5],
					status: 0
				},
				{
					id: "5",
					code: "F",
					desc: "CAMPUS JUAZEIRO -> CAMPUS PETROLINA",
					latLng: [-9.412207, -40.512246],
					status: 0
				},
				{
					id: "6",
					code: "G",
					desc: "CAMPUS JUAZEIRO -> CAMPUS CCA",
					latLng: [-9.411982, -40.51703],
					status: -1
				}
			],

			polylines: [],
			markers: [],
			overlayMaps: null,

			noSignalList: [],
			onGarageList: [],
			enabledList: [],
			noSignalGroup: null,
			onGarageGroup: null,
			enabledGroup: null,
			watchedNode: {},
			hasSelected: false
		};
	},
	mounted: function() {
		//iniciando mapa setando uma posição aleatória
		this.mainMap = L.map("map-id", {
			center: [-9.4, -40.5],
			zoom: 13,
			zoomSnap: 0.25
		});

		//iniciando o icone do mapa
		this.onGarageIcon = L.icon({
			iconUrl: "/static/images/mark-bus-disabled.png",
			iconSize: [50, 50],
			iconAnchor: [25, 50],
			popupAnchor: [0, -30]
		});

		this.noSignalIcon = L.icon({
			iconUrl: "/static/images/mark-bus-no-signal.png",
			iconSize: [50, 50],
			iconAnchor: [25, 50],
			popupAnchor: [0, -30]
		});

		this.enabledIcon = L.icon({
			iconUrl: "/static/images/mark-bus.png",
			iconSize: [50, 50],
			iconAnchor: [25, 50],
			popupAnchor: [0, -30]
		});

		//setando a layer da openstreet para renderizar o mapa
		this.tileLayer = L.tileLayer("http://{s}.tile.osm.org/{z}/{x}/{y}.png", {
			attribution:
				'&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
		}).addTo(this.mainMap);

		this.createMarkers();
		setInterval(this.setPosition, 2000);
		// setInterval(this.testVariation, 2000);
		console.log("Ready!");
	},

	beforeMount: function() {
		console.log("beforeMount!");
	},
	updated: function() {
		console.log("updated!");
	},
	beforeCreate: function() {
		console.log("beforeCreate!");
	},
	computed: {
		someSelected() {
			return this.hasSelected;
		}
	},
	methods: {
		testVariation() {
			let test
			for (let i in this.markers) {
				this.nodes[i].latLng[0] = this.nodes[i].latLng[0] + 0.00009;
				this.nodes[i].latLng[1] = this.nodes[i].latLng[1] + 0.00009;
				this.markers[i].setLatLng(this.nodes[i].latLng);
				this.polylines[i].addLatLng(this.nodes[i].latLng);
				/*
				if ( i == 0 ) {
					test = this.planMap.getWaypoints()
					test.push(this.nodes[i].latLng)
					console.log(test)
					this.planMap.setWaypoints(test);
				}*/
			}
		},

		//Função que cria os marcadores de acordo com os nós (nodes)
		createMarkers() {
			for (let i in this.nodes) {
				let icon = L.icon();
				if (!this.nodes[i].status) icon = this.noSignalIcon;
				if (this.nodes[i].status == 1) icon = this.enabledIcon;
				if (this.nodes[i].status == -1) icon = this.onGarageIcon;
				this.markers.push(L.marker(this.nodes[i].latLng, { icon: icon }));
				/*
				if ( i == 0 ) {
					this.planMap = L.Routing.control({
						waypoints: [this.nodes[i].latLng, this.nodes[i].latLng],
						routeWhileDragging: false,
					}).addTo(this.mainMap);
				}*/
				this.polylines.push(
					L.polyline([], { color: "rgba(0,0,3,.5)", weight: 2 }).addTo(
						this.mainMap
					)
				);
				this.markers[i].bindPopup(this.popupTemplate(this.nodes[i]));
				this.markers[i].on("click", this.onMarkerSelected);
				this.markers[i].on("popupopen", function() {
					$(".ev-marker-info").show();
				});
				this.markers[i].on("popupclose", function() {
					$(".ev-marker-info").hide();
				});
				if (!this.nodes[i].status) this.noSignalList.push(this.markers[i]);
				if (this.nodes[i].status == 1) this.enabledList.push(this.markers[i]);
				if (this.nodes[i].status == -1) this.onGarageList.push(this.markers[i]);
			}
			this.noSignalGroup = L.layerGroup(this.noSignalList);
			this.enabledGroup = L.layerGroup(this.enabledList);
			this.onGarageGroup = L.layerGroup(this.onGarageList);
			this.overlayMaps = {
				"Em circulação": this.enabledGroup,
				"Na garagem": this.onGarageGroup,
				"Sem sinal": this.noSignalGroup
			};

			this.mainMap.addLayer(this.enabledGroup);
			this.mainMap.addLayer(this.onGarageGroup);
			this.mainMap.addLayer(this.noSignalGroup);

			L.control
				.layers({}, this.overlayMaps, { collapsed: false })
				.addTo(this.mainMap);
		},

		/**
		 * TODO - Quando se mover, atualizar a localização no card //Acho que já faz isso ma requisição só n no mock
		 */

		//Função que atualiza o card de mais informações ao clicar em um marcador
		onMarkerSelected(e) {
			const element = new DOMParser().parseFromString(
				e.target._popup._content,
				"text/html"
			);
			const id = element.getElementsByClassName("marker-popup")[0].id;
			console.log("id: " + id);
			this.watchedNode = this.nodes.find(node => node.id === id);

			console.log(this.watchedNode);
			console.log(this.hasSelected);
			//this.hasSelected = true;
		},

		//Função para renderizar o popup dos marcadores
		popupTemplate(node) {
			return (
				'<div class="marker-popup" id="' +
				node.id +
				'">' +
				'<h6><b>Ônibus "' +
				node.code +
				'"</b></h6>' +
				'<p class="my-0">' +
				node.desc +
				"</p>" +
				"</div>"
			);
		},

		// Ta funcionando só com um nó, o nó zero
		setPosition() {
				// Salvando a referência para poder utilizar os dados dentro do post.
				var vm = this;
				/**
				 * Função que pega os dados da rota /getData pelo metodo post.
				 */
				$.post(
				"http://localhost:3000/getData",
				function(res) {
						console.log(res);
						// setDecoderResults(res);
						vm.nodes[0].latLng = [res.latitude, res.longitude];
						vm.nodes[0].temperature = res.temperature;
						vm.nodes[0].moisture = res.humidity;
						vm.nodes[0].noise = res.maxnoisedb.toFixed(2);
						// Usar uma gambiarra aqui para tratar valores não esperados, maiores que 90dB
						if (res.maxnoisedb > 100)
							vm.nodes[0].noise = 100.00;

						if (res.state == 200) {
						if (!$(".loading").hasClass("fade-out"))
								$(".loading").addClass("fade-out");

						vm.mainMap.setView([res.latitude, res.longitude]);
						vm.markers[0].setLatLng([res.latitude, res.longitude]);
						vm.markers[0].setIcon(vm.enabledIcon);
						vm.polylines[0].addLatLng([res.latitude, res.longitude]);
						} else {
						vm.markers[0].setIcon(vm.noSignalIcon);
						}
				},
				"json"
			);
		}
	}
};
</script>